@using Developers.Stream.Shared_Kernel
<div class="card streamer-card live">
    <img src="images/screenshot_ph.png" alt="screenshot here" class="card-img-bottom"/>
    <div class="card-body">
        <h5 class="card-title">@Streamer.Name</h5>
        <div class="card-text">
            <div>@Streamer.Blurb</div>

            <div>
                @foreach (var channel in Streamer.Channels)
                {
                    <a href="@($"{channel.Platform.Address}{channel.Name}")" title="@channel.Name">
                        @if (channel.Platform == PlatformIdentifier.Twitch)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="lucide lucide-twitch">
                                <path d="M21 2H3v16h5v4l4-4h5l4-4V2zm-10 9V7m5 4V7"/>
                            </svg>
                        }

                        @if (channel.Platform == PlatformIdentifier.YouTube)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="lucide lucide-youtube">
                                <path
                                    d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/>
                                <path d="m10 15 5-3-5-3z"/>
                            </svg>
                        }
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="card-footer">
        @foreach (var badge in Streamer.Tags)
        {
            <span class="badge rounded-pill text-bg-secondary m-1">@badge</span>
        }
    </div>
</div>
